<%- include('./common/header.ejs') %>
        <div class="booking-container">
            <div class="wrapper">
                <div class="title"><span>Change your booking date and time.</span></div>
                <form id="edit-form">
                    <input type="hidden" name="bookingid" value="<%= booking._id %>"/>
                    <% for( let index=0; index < availableDates.length; index++ ) { %>
                        <div class="row">
                            <label>
                                <%= availableDates[index].date%> (<%= availableDates[index].day%>)
                            </label>
                            <div class="row">
                                <% for( let j=0; j < availableTime.length; j++ ) { %>
                                    <label class="time-label">
                                        <%= availableTime[j] %>
                                    </label>
                                    <input class="form-checkbox" value="<%=`${availableDates[index].date};${j}`%>" type="checkbox" name="datetime"/>
                                    <% } %>
                            </div>


                        </div>
                        <% } %>
                            <div class="row button">
                                <input class="form-input" type="submit" value="Book" disabled id="book-btn"/>
                            </div>
                </form>
            </div>
        </div>

        <%- include('./common/footer.ejs') %>

<script type="text/javascript">
    $('.form-checkbox').on('change', function() {
        $('.form-checkbox').not(this).prop('checked', false);
        const checked = $(this).prop('checked');
        if (checked) $('#book-btn').removeAttr('disabled');
        else $('#book-btn').attr('disabled','disabled');
    });

    $("#edit-form").submit(function(e) {

        e.preventDefault();

        const form = $(this);
        const id = ($('input[type=hidden]').val());
        const checkboxVal = $( "input:checked").val();
        console.log(checkboxVal);
        console.log(id);

        fetch(`/bookings/${id}/edit`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ datetime: checkboxVal})
        })
        .then(response=>response.json())
        .then((data)=> {window.location.href = data.redirect})
        .catch(console.log)
    });
</script>